h1{
    background: blue;
    color: black;
    margin: 10px;
    padding: 20px;
    display: flex;
}

body{
background-color:black;
}

a{
    background: blue;
    color: black;
    margin-top: 7px;
    padding: 15px;
    display: block;

}


