body{
    background-image: url(Fond.webp);
    color: white;
}

.caja{
    width: 300px;
    background-image: url(Fond.webp);
    height: 500px;
    border: 1px solid;
    padding: 20px;
}

.btn{
    display: inline-block;
    background-color: white;
    color: black;
    margin: 10px;
    padding: 10px;
}